/* Norma l*/

@font-face {
    font-family: "DejaVu Sans Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSans-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: "DejaVu Sans Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSans-BoldOblique.ttf") format("truetype");
    font-weight: bold;
    font-style: oblique;
}


/* Condensed */

@font-face {
    font-family: "DejaVu Sans Condensed Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSansCondensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans Condensed Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSansCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DejaVu Sans Condensed Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSansCondensed-Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: "DejaVu Sans Condensed Bundled";
    src: url("@/assets/fonts/dejavu-sans/ttf/DejaVuSansCondensed-BoldOblique.ttf") format("truetype");
    font-weight: bold;
    font-style: oblique;
}
